body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgba(42, 30, 224, 0.605);
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(62, 21, 21);
}
